
.mnav {
    color: #333;
    font-weight: 700;
    margin-left: 1rem;
    text-decoration: underline;
}

.login {
    color: #333;
    margin-left: 1rem;
    text-decoration: underline;
}

.setting {
    color: #333;
    margin-left: 1rem;
    text-decoration: underline;
}

.more {
    background-color: #3385ff;
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.more:hover {
    color: #3385ff;
    background-color: #fdfdfd;
    font-size: 20px;
    font-weight: 700;
    opacity: 2;
    transition-property: background, font-size, opacity;
    transition-duration: 1s, 1s, 1s;
}

.show{
    margin-top: 10rem;
}